!!! 5
html(lang="en")
  head
    title Design.io Jasmine
    script(type='text/javascript', src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
    script(type='text/javascript', src="spec/lib/jasmine.js")
    script(type='text/javascript', src="spec/lib/socket.io.js")
    script(type='text/javascript', src="spec/lib/design.io.js")
    script(type='text/javascript', src="lib/web-socket-reporter.js")
    script(type='text/javascript', src="spec/client.js")
  body!= body